<!-- ###SOLR_SEARCH_LASTSEARCHES### end -->
<div id="tx-solr-lastsearches" class="secondaryContentSection">
	<div class="csc-header">
		<h3 class="csc-firstHeader"><f:translate key="LLL:EXT:solr/Resources/Private/Language/locallang.xml:lastSearches"/></h3>
	</div>
	<ul>
		<!-- ###LOOP:LASTSEARCHES### begin -->
		<!-- ###LOOP_CONTENT### -->
		<li>
			###LINK:###LASTSEARCH.Q###|###LASTSEARCH.PID###|###LASTSEARCH.PARAMETERS###|0|rel="nofollow"###
		</li>
		<!-- ###LOOP_CONTENT### -->
		<!-- ###LOOP:LASTSEARCHES### end -->
	</ul>
</div>
<!-- ###SOLR_SEARCH_LASTSEARCHES### end -->