<!-- ###SOLR_SEARCH_SORTING### begin -->
<div id="tx-solr-sorting" class="secondaryContentSection">
	<div class="csc-header">
		<h3 class="csc-firstHeader"><f:translate key="LLL:EXT:solr/Resources/Private/Language/locallang.xml:sorting_sortBy" /></h3>
	</div>
	<ul>
		<!-- ###LOOP:SORT### begin -->
		<!-- ###LOOP_CONTENT### -->
		<li>
			###SORT_INDICATOR:###SORT.CURRENT_DIRECTION###### ###SORT.LINK###
		</li>
		<!-- ###LOOP_CONTENT### -->
		<!-- ###LOOP:SORT### end -->
	</ul>
</div>

<!-- ###SOLR_SEARCH_SORTING### end -->